@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<p>Today we are going to learn some HTML!</p>


<p>This is my third paragraph</p>


<h1>This is my Tuesday todo list!</h1>

<ul>
    <li>HTML</li>
    <li>CSS</li>
    <li>Javascript</li>
    <li>Razor</li>
</ul>

<h2>First exercise!</h2>

<ol>
    <li>Create an ASP.NET Core Web Application</li>
    <li>Create a new page showing all names of this groep (simple List of strings)</li>
    <li>Raise hand and show me :-)</li>
    <li>Create a class Student in the folder Models (Firstname, Lastname, DateOfBirth, PictureURL)</li>
    <li>Show a Student object with your data on the Contact page</li>
    <li>Raise hand and show me :-)</li>
    <li>...</li>
</ol>

