
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CssDemo</title>

    <style>
        body
        {
            font-family: Bahnschrift;
            background-color: silver;
            /*background-image: url("images/picture.jpg");*/
        }

        h1
        {
            color: blue;
            text-align: center;
            border: 3px dotted blue;
            margin: 20px 10px 5px 200px; /* Top Right Bottom Left */
        }

        h2 
        {
            color: red;
        }

        #champion
        {
            font-size: 200%;
            color: orange;
            border: 5px dashed orange;
        }

        #champion
        {
            font-style: italic;
            color: red;
        }

        .playoffs
        {
            background-color: green;
            color: white;
        }
    </style>

</head>
<body>

    <h1>This is my CSS Demo!</h1>


    <p>The best soccer clubs in the Netherland</p>

    <h2>Eredivisie</h2>

    <ol>
        <li id="champion">PSV</li>
        <li>Ajax</li>
        <li class="playoffs">AZ</li>
        <li class="playoffs">Feyenoord</li>
        <li class="playoffs">FC Utrecht</li>
    </ol>

    <h1>Copyright Xander 2018</h1>
</body>
</html>
